
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --red: #d01c28;
  --gray: #2e2e2e; 
}

body{
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
}

button{
  all: unset;
  padding: 6px 16px;
  background-color: #d01c28;
  height: 32px;
  color: white;
  font-weight: 500;
}

nav{
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  height: 72px;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}

.Body{
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  align-items: center;
  height: calc(520px - 92px);
}

.Body h1{
  font-weight: 700;
  font-size: 55px;
  line-height: 102px;
}
.Body p{
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
  max-width: 400px;
}

.Body .btn{
  display: flex;
  gap: 40px;
}

.Body-content{
  display: flex;
  flex-direction: column;
}

.second{
  background: transparent;
  color: var(--gray);
  border: 2px solid gray;
}

.availabe p{
  font-size: 14px;
  margin-bottom: 8px;
}

.icons{
  display: flex;
  gap: 16px;
}